<h1><%= @pokemon.name %></h1>
<p>Type: <strong><%= @pokemon.element_type.capitalize %></strong></p>

<% if @pokemon.photo.attached? %>
  <%= image_tag url_for(@pokemon.photo), alt: @pokemon.name, width: 250, height: 250 %>
<% end %>

<p style="margin-top: 12px;">
  <%= link_to "â† Back to Pokedex", root_path %>
</p>
