<h1><%= @pokemon.name %></h1>
<p>Type: <strong><%= @pokemon.element_type.capitalize %></strong></p>

<% if @pokemon.photo.attached? %>
  <%= cl_image_tag @pokemon.photo.key, width: 250, height: 250, crop: :fill, alt: @pokemon.name %>
<% end %>

<p style="margin-top: 12px;">
  <%= link_to "â† Back to Pokedex", root_path %>
</p>
